<div class="records">
    <h2><a href='/users/<%=user.id%'><%= user.name %></a></h2>
    <p>Patient's Sex: <%= record.sex %></p>
    <p>Patient's Age: <%= record.age %></p>
    <p>Patient's Disease: <%= record.disease %></p>
</div>