<h2>Edit Patient's Medical Records</h2>

<form action='/records/<%= @record.id %>' method='post'>
    <input type='hidden' name='_method' value='patch' id='hidden'>

    <label for='p_name'>Patient's Name: </label>
    <input type="text" name="p_name" id="p_name" value="<%= @records.p_name %>"><br>

    <label for='sex'>Sex: </label>
    <input type="text" name="sex" id="sex" value="<%= @records.sex %>"><br>

    <label for="age">Age: </label>
    <input type="text" name="age" id="age" value="<%= @records.age %>"><br>

    <label for="disease">Disease: </label>
    <textarea name="disease" id="disease"> value= "<%= @records.disease %"></textarea><br>
    <input type="submit" value="Update Info">
</form>