<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<h2>Welcome, Dr. <%= @user.name %>!</h2>

<p class="center"><a href="/records/new">Create New Record</a></p>
<p class="center"><a href='/record/'
<p class="center"><a href='/'>Home</a></p>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Sex</th> 
    <th>Age</th>
    <th>Disease</th>
  </tr>
 
<tr>
<% @records.each do |r| %>
    <th><%=r.p_name</th><th><%= r.sex %></th> <th><%= r.age %></th> <th><%= r.disease %></th>
<% end %>
</tr>

</table>




