 <h2>Welcome, <%= @user.name %>!</h2>


<% @records.each do |r| %>
<p><a href="/records/<%= record.id %>"><%= record.disease %></a> by <em>
<a href="/user/<%= record.user.name %>"><%= record.user.name %></a></em></p>
<% end %>
