<h1>Medical Records</h1><br><br>

<% @users.records.each do |r| %>
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <p>Patient"\'" Sex: </p>
                <p><%= record.sex %></p>
            </div>
            <div class='col'>
                <p>Patient"\'" Age: </p>
                <p><%= record.age %></p>
            </div>
            <div class='col'>
                <p>Patient"\'" Disease: </p>
                <p><%= record.disease %></p>
            </div>
        </div>
            #to edit information
        <div class='row-button'>
            <button type='submit'>
                <a href='/records/<%=record.id%>/edit'>Edit Info</a>
            </button>
            <form action="/records/<%=record.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
<% end %>